# Generated CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Generated Visual Studio files
/plugins/Debug/
/plugins/Release/
/plugins/Win*/
/Debug/
/Release/
/Win*/
*.sln
*.suo
*.*sdf
*.vc?proj*

# Generated Makefiles
/plugins/Makefile
/plugins/*/Makefile
/src/Makefile
/Makefile

# Generated Qt files
/src/copyq_autogen/
/src/platform/x11/**/*_autogen/
/plugins/**/*.dir/
/plugins/**/*_autogen/
/src/copyqcon.dir/
/src/copyq.dir/
/src/copyq_*.qm
/src/copyq_*.qm.rule
/src/qrc_copyq.cxx
/src/translations.qrc
/src/qrc_translations.cxx
/src/common/version.h

/src/platform/x11/systemclipboard/Makefile
/src/platform/x11/systemclipboard/libsystemclipboard.a
/src/platform/x11/systemclipboard/qwayland-wlr-data-control-unstable-v1.cpp
/src/platform/x11/systemclipboard/qwayland-wlr-data-control-unstable-v1.h
/src/platform/x11/systemclipboard/wayland-wlr-data-control-unstable-v1-client-protocol.h
/src/platform/x11/systemclipboard/wayland-wlr-data-control-unstable-v1-protocol.c

moc_*
ui_*
*.depends
*.so
*.o
*.dylib
*.moc
**/qrc_*.cpp
/.qmake.cache
/copyq.app
/copyq
copyq.pro.user*
CMakeLists.txt.user*
.DS_Store
.qmake.stash
*.pyc
*.dmg
/build
*.qm
/shared/com.github.hluk.copyq.desktop

# Generated Sphinx files
/docs/_build

# Generated Flatpak files
/shared/flatpak/.flatpak-builder
/shared/flatpak/copyq

# Visual Studio Code
/.vscode
/.history
